body {
    margin: 0;
    font-size: 12px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    /* position: sticky; */
    /* top: 0px; */
    /* background: url(/GWImages/Blue/Covi/Common/popup/popup_title_bg.gif) repeat-x; */
    background-color: #253050;
    /* margin-right: 15px; */
    height: 50px;
}

header h1 {
    background: url(/GWImages/Blue/Covi/Common/popup/popup_title_blt.gif) no-repeat;
    background-position: 0 50%;
    margin: 0 0 0 10px;
    padding: 0 15px;
    font-size: 20px;
    color: white;
}

#formName {
    color: white;
    font-size: 22px;
}

nav {
    height: 30px;
    border-bottom: 2px solid #e7f3ff;
    background-color: #e7f3ff;
}

footer {
    height: 30px;
    background-color: #e7f3ff;
}

.flex-sbetween-center {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.flex-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-padding {
    padding: 0 20px;
}

.content {
    /* background-color: black; */
    height: calc(100% - 80px);
    display: flex;
    justify-content: center;
}

main {
    height: calc(100% - 30px);
}

#divParsing {
    background-color: white;
    width: 30px;
}

#divColumnList,
#divTextarea {
    width: calc((100% - 30px) / 2);
}

.item {
    background-color: white;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    border-radius: 20px;
    padding: 10px 10px 10px 20px;
}

.item strong {
    height: 30px;
    font-size: 18px;
    /* border-bottom: 1px solid gray; */
}

.item_detail {
    display: block;
    overflow: auto;
    scrollbar-width: thin;
    overflow-y: scroll;
    height: calc(100% - 40px);
    width: calc(100% - 15px);
    border: 1px solid black;
    transition: 0ms box-shadow;
}

textarea.item_detail {
    resize: none;
    /* border-top: none; */
}

.item_detail_action {
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 1px 0px 2px 2px #e7f3ff;
}


#divParsing button {
    padding: 0px;
    width: 20px;
    height: 50px;
    /* border: none; */
    /* background: none; */
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.7);
}

.th1, .th2, .td1, .td2 {
    width: calc(50% - 31px);
}


.th1 {
    background-color: #fbff00;
}
.th2 {
    background-color: #9fe6bd;
}
.th3 {
    background-color: #9fb0e6;
}

#tableItems .td_infos {
    width: calc(50% - 31px);
}

.th3, .td3 {
    width: 62px;
    padding: 0 !important;
    display: flex;
    justify-content: center;
}

td.col-id {
    padding-left: 10px;
}

.col {
    display: inline-flex;
}


.row {
    height: 24px;
    display: flex;
}

.column {
    /* display: inline-block; */
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-weight: bolder;
}

.thead, .row {
    border-bottom: 1px solid gray;
}

.row[rowType="sub"] {
    background-color: #f3f3f3;
}

.row input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    height: 24px;
}

.hidden {
    display: none;
}

.row[rowType="sub"] .td1::before {
    content: "ㄴ";
    margin-right: 5px;
}


#divColumnList .row button {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    padding: 0;
}