today, forecast, sleep, workout, workout item, study, study item, todo, todo item {
    display: block;
    margin-left: 15px;
}

[description]::before {
    content: "• " attr(description)
}

today::after {
    content: ": "  attr(year) "년 " attr(month) "월 " attr(day) "일"
}

forecast::after {
    content: ": "  attr(weather) " / 온도: " attr(temperature) " / 미세먼지: " attr(airquality) "일"
}

sleep::after {
    content: ": " attr(bedtime) " ~ " attr(wakeuptime) " (총 " attr(hoursofsleep) "시간)"
}

workout item[type="cardio"]::before {
    color: red;
    content: "• ";
}

workout item[type="weight"]::before  {
    color:blue;
    content: "• ";
}