<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>The Home Page <%= 'hello world'.toUpperCase() %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam voluptates suscipit deserunt accusantium delectus, vel vitae eius doloribus, tempore iusto deleniti cumque earum iste veritatis ea illo consequuntur corporis consectetur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam a, fugit blanditiis quisquam cum ducimus sunt, minima consequuntur totam neque illum? Inventore praesentium vel aliquid voluptatibus saepe veniam, maxime voluptate! Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid aliquam corrupti voluptatibus beatae. Fugit delectus cupiditate molestias vel ut eum iusto ullam quae, tempore placeat itaque corporis, illo amet. Unde!</p>
</body>
</html>