<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= name %>!
    </title>
    <!-- <link href="/css/doc.css" rel="stylesheet"> -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>